<?xml version="1.0"?>
<launch>
  
  <node pkg="map_to_jpeg" type="map_to_image_node" name="map_image_stream"  output="screen">
    <!-- <param name="dev" type="str" value="/dev/input/js0"/>
    <param name="autorepeat_rate" type="double" value="15"/>
    <param name="deadzone" type="double" value="0.1"/>
    <param name="coalesce_interval" type="double" value="0.001"/> -->
  </node>

</launch>